# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Lazy Unity Helper'
      'submenu': [
        {label: 'Insert Inherited Functions', command: 'lazy-unity-helper:insert-inherited-functions'}
        {type: 'separator'}
      ]
    }
  ]
